.nav {
	font-family: serif;
	text-align: center;
	display: inline;
	text-align: center;
	font-size: 20px;
}

.home {
	height: 25px;
	width: 50px;
	background: brown;
	color: #0aff3f;
	margin-left: 50%;
}

.home:hover {
	background: #0aff3f;
	color: brown;
}

.next {
	height: 25px;
	width: 50px;
	background: brown;
	color: #0aff3f;
	margin-left: 100%;
}

.next:hover {
	background: #0aff3f;
	color: brown;
}

.previous {
	height: 25px;
	width: 50px;
	background: brown;
	color: #0aff3f;
}

.previous:hover {
	background: #0aff3f;
	color: brown;	
}