.divide {
			border: dashed thin black;
			width: 250px;
			position: relative;
			font-family: Georgia;
			font-size: 22px;
			text-align: center;
			left: 500px;

		}

		.subtract {
			border: dashed medium black;
			width: 200px;
			position: relative;
			font-family: Verdana;
			font-size: 15px;
			font-style: italic;
			text-align: center;
			left: 250px;
		}

		#then {
			font-style: bold;
			font-size: 25px;
			position: relative;
			font-family: sans-serif;
			left: 750px;
		}

		.add {
			border: solid medium grey;
			position: relative;
			width: 400px;
			font-family: Courier;
			left: 180px;

		}

		#here {
			font-family: Arial Black;
			font-style: italic;
			position: relative;
			left: 900px; 
			top: 180px; 
		}

		.multiply {
			border: solid thick black;
			position: relative;
			width: 280px;
			font-family: Comic Sans;
			font-size: 20px;
			text-align: center;
			left: 360px;
			top: 250px;

		}

		.nav {
	font-family: serif;
	text-align: center;
}

.nav p {
	padding: 2px;
	background-color: brown;
	color: #0aff3f;
	/* margin-top: 0px;
	margin-left: 500px;
	margin-bottom: 20px; */ 
}

.nav p:hover + a{
	background: #0aff3f;
	color: brown;
	cursor: pointer;
}

a {
	background-color: brown;
	color: #0aff3f;
	text-decoration: none;
	/* margin-left: 800px;
	margin-top: 0px; */
}

a:hover {
	background-color: #0aff3f;
	color: brown;
}