.garamond {
			font-family: Garamond;
			font-size: 44px;
			position: relative;
			left: 100px;
			bottom: 0px;
			text-align: center;
		}

		#whispering {
			position: fixed;
			font-family: Ariel Black;
			font-size: 100px;
			text-align: center;
			left: 250px;
			top: 100px;
			z-index: -1; 
		}

		.nav {
	font-family: serif;
	text-align: center;
}

.nav p {
	padding: 2px;
	background-color: brown;
	color: #0aff3f;
	/* margin-top: 0px;
	margin-left: 500px;
	margin-bottom: 20px; */ 
}

.nav p:hover + a{
	background: #0aff3f;
	color: brown;
	cursor: pointer;
}

a {
	background-color: brown;
	color: #0aff3f;
	text-decoration: none;
	/* margin-left: 800px;
	margin-top: 0px; */
}

a:hover {
	background-color: #0aff3f;
	color: brown;
}