div:hover {
			cursor: pointer;
		}

		p {
			font-family: Helvetica;
			text-align: center;
		}

		#divide {
			font-size: 400px;
			width: 100%;
			background-color: purple;
			color: transparent;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		#divide:hover {
			color: white;
			background-color: blue;
		}

		#seasons {
			font-size: 150px;
			width: 100%;
			background-color: black;
			color: transparent;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		#seasons:hover {
			color: white;
			background-color: red; 
		}

		#four {
			font-size: 160px;
			width: 100%;
			background-color: brown;
			color: transparent;
			margin-top: 0px;
			margin-bottom: 0px;	
		}

		#four:hover {
			color: black;
			background-color: white;
		}

		#subtract {
			font-size: 180px;
			width: 100%
			background-color: #a0b2b1;
			color: transparent;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		#subtract:hover {
			color: white;
			background-color: #42f4ce;
		}

		#snow {
			font-size: 200px;
			width: 100%;
			background-color: #82dded
			color: transparent;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		#snow:hover {
			color: white;
			background-color: #5b8399;
		}

		#then {
			font-size: 360px;
			width: 100%;
			background-color: yellow;
			color: transparent;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		#then:hover {
			color: white;
			background-color: #a898ce;
		}

		#add {
			font-size: 50px;
			width: 100%
			background-color: blue;
			color: transparent;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		#add:hover {
			color: white;
			background-color: #4e5ca0;
		}

		#more {
			font-size: 80px;
			width: 100%;
			background-color: #d010f2
			color: transparent;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		#more:hover {
			color: white;
			background-color: #27d8b5;
		}

		#green {
			font-size: 188px;
			width: 100%;
			background-color: red;
			color: transparent;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		#green:hover {
			color: white;
			background-color: green;
		}

		#bud {
			font-size: 90px;
			width: 100%;
			background-color: #650ca0
			color: transparent;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		#bud:hover {
			color: white;
			background-color: #8c091d;
		}

		#breeze {
			font-size: 75px;
			width: 100%;
			background-color: green;
			color: transparent;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		#breeze:hover {
			color: white;
			background-color: #8ce0ff;
		}

		#whispering {
			font-size: 222px;
			width: 100%;
			background-color: grey;
			color: transparent;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		#whispering:hover {
			color: white;
			background-color: #6aaa4c;
		}

		#here {
			font-size: 90px;
			width: 100%;
			background-color: #abb25c;
			color: transparent;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		#here:hover {
			color: white;
			background-color: #d3c26b;
		}

		#sky {
			font-size: 150px;
			width: 100%;
			background-color: black;
			color: transparent;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		#sky:hover {
			color: white;
			background-color: #17eaea;
		}

		#orange {
			font-size: 100px;
			width: 100%;
			background-color: red;
			color: transparent;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		#orange:hover {
			color: white;
			background-color: orange;
		}

		#multiply {
			font-size: 125px;
			width: 100%;
			background-color: white;
			color: transparent;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		#multiply:hover {
			color: black;
			background-color: white;
		}

.nav {
	font-family: serif;
	text-align: center;
}

.nav p {
	padding: 2px;
	background-color: brown;
	color: #0aff3f;
	/* margin-top: 0px;
	margin-left: 500px;
	margin-bottom: 20px; */ 
}

.nav p:hover + a{
	background: #0aff3f;
	color: brown;
	cursor: pointer;
}

a {
	background-color: brown;
	color: #0aff3f;
	text-decoration: none;
	/* margin-left: 800px;
	margin-top: 0px; */
}

a:hover {
	background-color: #0aff3f;
	color: brown;
}