body {
			background: #147a1b;
		}
		.divide {
			position: relative;
			text-align: center;
			font-family: Ariel Narrow;
			font-size: 25px;
			letter-spacing: 10px;
			color: #f21f8f;
		}

		.seasons {
			position: relative;
			display: inline;
			font-size: 25px;
			letter-spacing: 15px;
			left: 360px;
			margin-top: 10px;
		}

		#s {
			position: relative;
			font-family: fantasy;
			color: #4dd5dd;
		}

		#s:hover {
			color: white;
			font-size: 50px;
		}

		#e {
			position: relative;
			font-family: cursive, bold;
			color: #11f784;
		}

		#e:hover {
			color: white;
			font-size: 50px;
		}

		#a {
			position: relative;
			font-family: fantasy;
			color: #c6ea25;
		}

		#a:hover {
			color: white;
			font-size: 50px;
		}

		#s2 {
			position: relative;
			font-family: cursive, bold;
			color: #f2dc15;
		}

		#s2:hover {
			color: white;
			font-size: 50px;
		}

		#o {
			position: relative;
			font-family: fantasy;
			color: #e0b011;
		}

		#o:hover {
			color: white;
			font-size: 50px;
		}

		#n {
			position: relative;
			font-family: cursive, bold;
			color: #ce8414;
		}

		#n:hover {
			color: white;
			font-size: 50px;
		}

		#s3 {
			position: relative;
			font-family: fantasy;
			color: #1389ce;
		}

		#s3:hover {
			color: white;
			font-size: 50px;
		}

		.four {
			position: relative;
			font-family: Courier;
			font-size: 64px;
			margin-left: 88px;

		}

		.subtract {
			position: relative;
			font-family: Helvetica;
			font-size: 36px;
			margin-left: 64px;
			letter-spacing: 5px;
		}

		#snow {
			position: relative;
			font-family: Georgia;
			font-size: 20px;
			margin-left: 100px;
			color: white;
			letter-spacing: 30px;
		}

		.then {
			position: relative;
			font-family: sans-serif;
			font-size: 27px;
			margin-left: 50%;
		}

		.add {
			position: relative;
			font-family: Garamond;
			font-size: 32px;
			margin-left: 25%;
		}

		.ingredients {
			position: relative;
			font-family: cursive;
			font-size: 28px;
			margin-left: 120px;
			color: transparent;
		}

		.ingredients:hover {
			color: #e8e414;
		}

		#here {
			position: relative;
			font-family: serif;
			font-size: 77px;
			margin-left: 72px;
		}

		.sky {
			position: relative;
			font-family: Times;
			font-size: 64px;
			color: violet;
			margin-left: 22px;
		}

		.multiply {
			position: relative;
			font-family: Geneva, sans-serif;
			font-size: 96px;
			text-align: center;
			letter-spacing: 20px;
			color: orange;
		}

		.nav {
	font-family: serif;
	text-align: center;
}

.nav p {
	padding: 2px;
	background-color: brown;
	color: #0aff3f;
	/* margin-top: 0px;
	margin-left: 500px;
	margin-bottom: 20px; */ 
}

.nav p:hover + a{
	background: #0aff3f;
	color: brown;
	cursor: pointer;
}

a {
	background-color: brown;
	color: #0aff3f;
	text-decoration: none;
	/* margin-left: 800px;
	margin-top: 0px; */
}

a:hover {
	background-color: #0aff3f;
	color: brown;
}